.container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	row-gap: 30px;
	column-gap: 4%;
	padding: 50px 100px;
}

.listCard {
	width: 48%;
	padding: 20px;
	border-radius: 8px;
	background-color: rgba(221, 221, 221, 0.2);
	box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: all 200ms ease-in-out;

	&:hover {
		background-color: rgba(221, 221, 221, 0.3);
		box-shadow: 1px 8px 16px 1px rgba(0, 0, 0, 0.1);
	}
}

.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;

	& > h3 > span {
		font-size: 1rem;
	}
}

.content {
	padding: 0 5px;

	& > div > p {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		overflow: hidden;
	}

	& > .pros {
		margin-bottom: 8px;
		& > svg {
			color: #2e97ff;
		}
	}

	& > .cons {
		& > svg {
			color: #f86d6d;
		}
	}
}
