.container {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border: none;
  transform: translateY(2px);
}

.input {
  display: none;
}

.label {
  display: inline-block;
  font-size: 1.3rem;
  color: #DDDDDD;
  overflow: hidden;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

.half {
  position: absolute;
  width: 10%;

  @for $i from 1 through 5 {
    &:nth-of-type(#{$i * 2}) {
      transform: translateX(-200% * ($i - 1) - 100%);
    }
  }
}

.input:checked ~ .label,
.label:hover,
.label:hover ~ .label,
.input:checked + .label:hover,
.input:checked ~ .label:hover,
.input:checked ~ .label:hover ~ .label,
.label:hover ~ .input:checked ~ .label {
  color: #f86d6d;
}
