@import "/src/style/theme.scss";

.container {
	padding: 50px;
}

.title {
	text-align: center;
	margin-bottom: 15px;

	& > span {
		font-size: 1.3rem;
	}
}

.info {
	@include flexbox(row, center, center);
	column-gap: 10px;

	margin-bottom: 15px;

	& > span > strong {
		text-transform: uppercase;
		margin-right: 5px;
	}
}

.createButtons {
	@include flexbox(row, center, center);
	column-gap: 30px;

	& > button {
		@extend %bgButton;
		text-transform: capitalize;
	}
}
