@import "/src/style/theme.scss";

.container {
	width: 100dvw;
	height: 100dvh;
	display: flex;
	background-color: theme-color("white");

	& > div {
		@include flexbox(column, center, center);

		height: 100dvh;
	}
}

.left {
	width: 60%;

	& > .logo {
		color: theme-color("primary", "light");
		text-align: center;
		font-size: 6.5rem;
	}

	& > .description {
		color: theme-color("primary", "light");
		text-align: center;
		font-size: 2.5rem;
		text-transform: capitalize;
	}
}

.right {
	width: 40%;
	gap: 30px;
	background-color: theme-color("primary", "light");
	color: theme-color("white");
	text-align: center;
	text-transform: capitalize;
}

.button {
	width: 150px;
	padding: 8px 0;
	margin: 0 auto;
	border-radius: 15px;
	background-color: theme-color("secondary", "dark");
	color: theme-color("primary", "dark");
	font-weight: 700;
	transition: background-color 250ms ease-in-out;

	&:hover {
		background-color: theme-color("secondary");
	}
}
