@import "/src/style/theme.scss";

.logoutButton {
	display: inline-flex;
	align-items: center;
	column-gap: 8px;
	color: theme-color("white");
	font-weight: 700;
	text-transform: uppercase;
	text-align: left;
	transition: color 250ms ease-in-out;

	& > svg {
		font-size: 2.3rem;
	}

	& > .userInfo {
		@include flexbox(column, center);
		row-gap: 3px;
	}

	&:hover {
		color: theme-color($variant: "dark");
	}
}
