.logoutButton {
	display: inline-flex;
	align-items: center;
	column-gap: 8px;
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
	text-align: left;
	transition: color 250ms ease-in-out;

	& > svg {
		font-size: 2.3rem;
	}

	&:hover {
		color: #467047;
	}
}
