@import "/src/style/theme.scss";

.container {
	padding: 50px;
}

.createForm {
	@include flexbox(column, center, center);
	row-gap: 15px;

	width: 85%;
	margin: 0 auto;

	& > div {
		@include flexbox($align: center, $wrap: wrap);
		column-gap: 10px;
		row-gap: 5px;

		width: inherit;

		& > label {
			text-align: right;
			text-transform: capitalize;
			font-size: 1.2rem;
			font-weight: 700;

			&.iconLabel {
				@include flexbox($align: center);
				column-gap: 5px;

				& > svg {
					margin-top: 1px;
				}
			}

			&.pros {
				& > svg {
					color: theme-color("blue");
				}
			}

			&.cons {
				& > svg {
					color: theme-color("red");
				}
			}
		}

		& > input,
		textarea {
			width: 100%;
			padding: 5px;
			border-radius: 4px;
			background-color: #dddddd33;

			&:active,
			&:focus {
				background-color: theme-color("gray", "opacity-0.4");
			}
		}

		& > span {
			margin-top: 1px;
		}
	}

	& > button {
		@extend %bgButton;
		text-transform: uppercase;
	}
}
