@import "/src/style/theme.scss";

.container {
	display: flex;
}

.left {
	width: 30%;
	max-width: 550px;
	height: 100dvh;

	& > div {
		@include flexbox(column, space-between, center);
		height: 100dvh;
		row-gap: 30px;

		position: fixed;
		width: inherit;
		max-width: 550px;
		padding: 50px 0;
		background-color: theme-color("primary", "light");
		color: theme-color("white");

		& > a {
			color: theme-color("secondary");
			font-size: 3rem;
			font-weight: 700;
		}

		& > nav {
			flex-grow: 1;
		}
	}
}

.right {
	flex: 1;
	background-color: theme-color("white");
}
