/* Reset */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

ul,
ol,
li,
dl,
dt,
dd {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}

input,
input:active,
textarea,
textarea:active,
button,
button:active {
	border: none;
	outline: none;
}

button,
input,
textarea {
	font-size: inherit;
	font-family: "Roboto", sans-serif;
}

button {
	background-color: transparent;
	cursor: pointer;

	&:disabled {
		background-color: #dddddd;
		color: #1010104c;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

@media screen and (min-width: 320px) {
	html {
		font-size: 12px;
	}
}

@media screen and (min-width: 768px) {
	html {
		font-size: 14px;
	}
}

@media screen and (min-width: 1200px) {
	html {
		font-size: 16px;
	}
}

.pros > svg {
	color: #2e97ff;
}

.cons > svg {
	color: #f86d6d;
}
