@import "/src/style/theme.scss";

.container {
	width: 50%;
	margin: 50px auto 0;
	display: flex;

	& > input {
		flex: 1;
		margin-right: 10px;
		padding: 10px;
		border-bottom: 1px solid theme-color("black");
		transition: all 150ms ease-in;

		&:focus {
			background-color: theme-color("gray", "opacity-0.4");
		}
	}

	& > button {
		@include flexbox(row, center, center);

		font-size: 1.3rem;
		font-weight: 700;
		text-transform: uppercase;
		transition: all 250ms ease-in-out;

		&:hover {
			color: theme-color("primary", "light");
		}
	}
}
